.d-flex {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.flip-card {
  background-color: transparent;
  width: 275px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 1em 2em;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card.is-flipped .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}

.card-front-p {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;;
}

.card-back-p {
  display: -webkit-box;
    -webkit-box-orient: vertical;
    max-width: 270px;
    overflow: scroll;
    text-overflow: ellipsis;
    height: 275px;
}
